# IntelliJ IDEA files
.idea/

# Gradle files
.gradle/
build/

# Compiled files
out/
build/

# Gradle wrapper
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# Eclipse files
.classpath
.project
.settings/

# Other build tools
maven/
sbt/
